.hub{
    
    padding: 2em;
    height: 100vh;
}
.loadedInfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.cHub{
    color: #69CCC1;
    margin: 30px 0 0 2%;
}
.icons{
    float: right;
    font-size: large;
}
