.logo{
  margin: 1em;
  padding-left: 1em;
}
.logo:hover{
  cursor: pointer;
}
.UserIcon {
    padding: 1em 1em;
    margin: 2em;
    float: right;
    color: #F38A8A;
    background: #f3f2f2;
    box-shadow:  5px 5px 10px #e4e3e3,
             -5px -5px 10px #ffffff;
}
  .UserIcon:hover {
    box-shadow: inset 5px 5px 10px #cccbcb,
            inset -5px -5px 10px #ffffff;
  }
