.CustomAnim{
    padding: 0.5em;
    font-size: small;
    margin-bottom: 0.5em;
    transition: 100ms linear;
}

.CustomAnim:hover{
   color:black;
   text-transform: uppercase;
    background: #69CCC1;
    /* letter-spacing: 1px; */
}

