button{
    background: #575757;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
    letter-spacing: .2rem; 
    text-align: center;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow:  5px 5px 10px #4a4a4a,
    -5px -5px 10px #646464;
  }
   button:hover {
    box-shadow: inset 5px 5px 10px #4a4a4a,
            inset -5px -5px 10px #646464;
  } 
  
  