@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: SourceSansPro;
  src: url("./fonts/SourceSansPro-SemiBold.ttf");
}
@font-face {
  font-family: SinkinSans;
  src: url("./fonts/SinkinSans-700Bold.otf");
}
html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  
}

h2{
  font-family: 'roboto', sans-serif;
}
p{
  font-family: SourceSansPro;
  font-size: larger;
}
body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
